@import 'header-image';

.header {
  display: flex;
  align-items: center;
  height: 20vh;
  background-image: url('data:image/png;base64,#{$header-image}');
  background-size: 50vh;
}

.header__text {
  display: block;
  height: 15vh;
  margin: 0;
  padding-right: 10vh;
  background: #ffc800;
  border-radius: 0 25px 25px 0;
  box-shadow: 0 0 30px -1px rgba(0,0,0,0.75);
  font-size: 10vh;
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 15vh;
  text-indent: 15vh;
}
