@import '../variables.scss';

.destination-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px 0;
  background-color: $old-lace;
  border-bottom: 3px groove $celeste;
}

@mixin input-font-style($font-size) {
  font-family: "Raleway", sans-serif;
  font-size: $font-size;
  text-align: center;
}

.destination-input__label {
  @include input-font-style(2rem);
  font-weight: bold;
}

.destination-input__input {
  @include input-font-style(1.5rem);
  text-align: center;
}
.destination-input__input::placeholder {
  color: black;
  text-align: center;
}