<div class="destination-input">
    <label class="destination-input__label">Trip destination: <input class="destination-input__input" type="text" name="location" placeholder="Enter location" /></label>
    <label class="destination-input__label">Arrival sate: <input class="destination-input__input" type="date" name="date" placeholder="" /></label>
</div>